body {
    background-color: #ebebeb;
    font-family: -apple-system;
    font-family: "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.chat-sender {
    clear: both;
    font-size: 80%;
}
.leftIn {
    opacity: 0;
    transform: translate(-150px, 0);
    animation: LeftIn 1s forwards;
}
.chat-sender .user {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    display:inline;
}

 /*背景气泡*/
.chat-sender .talk { 
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius:7px;
    margin-bottom: 10px;
}

.chat-receiver {
    clear: both;
    font-size: 80%;
}
.rightIn {
    opacity: 0;
    transform: translate(150px, 0);
    animation: RightIn 1s forwards;
}
.chat-receiver .user {
    float: right;
    width: 50px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    display:inline;
}
 /*背景气泡*/
.chat-receiver .talk { 
    background-color: #b2e281;
    display: inline-block;
    padding: 10px;
    border-radius:7px;
    float:right;
    margin-bottom: 10px;
}
 /*左右最大长度*/
.chat-box {
    margin: 0px 60px 10px 60px;
}

.chat-left_triangle {
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    position: relative;
    left: -12px;
    top: 20px;
}
/*
.chat-right_triangle{
    float:right;
    height: 0px;
    width: 0px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #b2e281;
    position: relative;
    right: -12px;
    top: 20px;
}*/
.chat-notice {
    clear: both;
    font-size: 70%;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.chat-notice span {
    background-color: #cecece;
    line-height: 25px;
    border-radius: 5px;
    padding: 5px 10px;
}

.chat-center {
    clear:both;
    font-size: 80%;
    background-color: #cecece;
    margin: 0px 60px 10px 60px;
    padding: 10px 10px 10px 10px;
    border-radius:7px;
}

@keyframes LeftIn {
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

@keyframes RightIn {
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}